permissions:
  pull-requests: write
  checks: write

on:
  pull_request:
  push:
    branches: [master]
    
jobs:
  integration_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install NodeJs
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Install npm dependencies
        run: npm ci
      - name: Run integration tests
        run: npx allure run -- npm run test
      - name: Report test results with allure 
        uses: allure-framework/allure-action@v0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
  
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install NodeJs
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Install npm dependencies
        run: npm ci
      - name: Check lint
        run: npm run lint
  
