on:
  pull_request:
  push:
    branches: [master]
    
jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install NodeJs
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Install npm dependencies
        run: npm ci
      - name: Run unit tests
        run: npm test
  
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install NodeJs
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Install npm dependencies
        run: npm ci
      - name: Check lint
        run: npm run lint
  
